body{
 margin: 0;
 background-image: url(https://img0.baidu.com/it/u=1480764528,847729279&fm=253&fmt=auto&app=120&f=JPEG?w=1195&h=500);
}
.cover{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    filter: blur(10px);
    transform: scale(1.2);
}
.player{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 20px 40px;
    border-radius: 4px;
    background: rgba(255, 255, 255, .7);
    color: #ea8989;
}
.player .main{
    display: flex;
}
.player .buttons{
    margin-top: 10px;
}
.player .buttons .iconfont{
    font-size: 32px;
    margin-right: 8px;
    cursor: pointer;
    transition: all .3s;
}
.player .buttons .iconfont:hover{
    opacity: 0.7;
}
.player .texts{
   margin-left: 20px;
}
.player .texts h3{
    margin-top: 14px;
    margin-bottom: 8px;
}
.player .texts p{
   margin-top: 0px;
}
.player .bar{
    height: 3px;
    background: #ccc;
    border-radius: 3px;
}
.player .bar .progress{
    height: 100%;
    width: 0%;
    border-radius: 3px;
    background: currentColor;
    transition: width,1s;
}
.player .time{
    text-align: right;
}